<!DOCTYPE html>
<html>
    <head>
        <title>Temático Movistar</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <header class="navbar navbar-default navbar-fixed-top" role="banner">
            
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="title-container col-md-6">
                        <h1>Temático movistar</h1>
                    </div>
                    <div class="form-container col-md-6">
                        @if(flash.containsKey("success")){
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span class="glyphicon glyphicon-ok-sign"></span>@flash.get("success")
                            </div>
                        }
                    	@if(flash.contains("error")) {
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span class="glyphicon glyphicon-remove-sign"></span>@flash.get("error")
                            </div>
                    	}
                    	@if(flash.contains("errorRecuperar")){
	                            <div class="alert alert-danger">
	                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	                                <span class="glyphicon glyphicon-remove-sign"></span>@flash.get("errorRecuperar")
	                            </div>
                        }
                        @if(flash.contains("successRecuperar")){
	                            <div class="alert alert-success alert-dismissable">
	                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	                                <span class="glyphicon glyphicon-ok-sign"></span>@flash.get("successRecuperar")
	                            </div>
                        }
                        @helper.form(routes.Application.autenticar) {
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Contraseña">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Ingresar</button>
                            </div>
                            <div class="form-group">
                                <p><a href="#" data-toggle="modal" data-target="#dialogPassword">¿Olvidaste la contraseña?</a></p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </main>
        <div class="modal fade" id="dialogPassword" tabindex="-1" role="dialog" 
            aria-labelledby="dialogPasswordTitle" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="dialogPasswordTitle">
                            Olvidaste la contraseña
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¡No te preocupes! Ingresa tu correo y en unos minutos te enviaremos una solicitud para obtener
                        una nueva contraseña:</p>
       					@helper.form(routes.Application.recuperarContrasenia) {
                        	
                            <div class="form-group">
                                <input type="email" class="form-control" name="emailRecuperar" placeholder="Email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Aceptar</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </body>
</html>
