@(usuario: models.entities.Usuario)(body: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>Temático movistar</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/prettify.css")">
	    <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/bootstrap-duallistbox.css")">
	    <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/bootstrap-datepicker.css")">
	    <link rel="stylesheet" media="all" href="@routes.Assets.at("stylesheets/bootstrap-timepicker.min.css")">
		
		<script src="@routes.Application.jsRoutes()" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/modernizr-custom.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/prettify.js")" type="text/javascript"></script>
    
    </head>
    <body>
        <header>
		    @header(usuario)
		</header>
		<nav role="navigation" class="navbar navbar-default">
            
        </nav>
        <main>
            @body
        </main>
        </body>
</html>